{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>GAVIME - Área dos Funcionários</title>
		<meta charset = 'UTF-8'>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="icon" href="{% static 'img/icon.ico' %}">
		<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	</head>

	<body id = 'topo'>
		<header>
			<div class = 'cabecalho'>
				<a href = "/funcionarios/">
					<img src = "{% static 'img/logoGavime.png' %}" class = 'logo' alt = 'Logo GAVIME'>
				</a>

				<nav>
					<a href = "/funcionarios/">Painel</a>
					<a href = "/funcionarios/atividades/">Ações</a>
					<a href = "/funcionarios/inscritos/">Inscritos</a>
					<a href = "/funcionarios/voluntarios/">Voluntários</a>
					<a href="/funcionarios/despesas/">Transparência</a>
					<a href = "/">Site principal</a>
				</nav>
			</div>
		</header>

		<section class = 'conteudo'>

			<div class = 'topoPainel'>
				<h1>Painel administrativo GAVIME</h1>
			</div>

			<p>
				Selecione uma das áreas abaixo para administrar o sistema do GAVIME.
			</p>

			<div class = 'painelFuncionarios'>

				<a href = "/funcionarios/atividades/" class = 'cardFuncionario'>
					<i class="fa-solid fa-handshake-angle"></i>
					<h2>Gerenciar ações</h2>
					<p>
						Cadastrar, editar e excluir ações sociais.
					</p>
				</a>

				<a href = "/funcionarios/inscritos/" class = 'cardFuncionario'>
					<i class="fa-solid fa-users"></i>
					<h2>Gerenciar inscritos</h2>
					<p>
						Visualizar pessoas interessadas em participar.
					</p>
				</a>

				<a href = "/funcionarios/voluntarios/" class = 'cardFuncionario'>
					<i class="fa-solid fa-user-check"></i>
					<h2>Gerenciar voluntários</h2>
					<p>
						Vincular inscritos às ações disponíveis.
					</p>
				</a>
			</div>
		</section>

		<footer>
			<div class="footerContainerFuncionarios">
				<div class="footerLogo">
					<a href="#topo">
						<img src="{% static 'img/logoGavime.png' %}" class="logoFooter" alt="Logo GAVIME">
					</a>
				</div>

				<p class="direitos">
					©2026 - GAVIME. Todos os direitos reservados.
				</p>
			</div>
		</footer>
	</body>
</html>