{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>GAVIME - Contato</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/icon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18188447640"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-18188447640');
        </script>
</head>

<body id="topo">

<header>
	<div class="cabecalho">
		<a href="/">
			<img src="{% static 'img/logoGavime.png' %}" class="logo" alt="Logo GAVIME">
		</a>

		<nav>
			<div class="linksMenu">
				<a href="/">Apresentações</a>
				<a href="/transparencia/">Transparência</a>
				<a href="/contato/">Contato</a>
			</div>

			<div class="acoesMenu">
				<a href="/doacoes/" class="botaoMenu">Doações</a>
				<a href="/inscricao/" class="botaoMenu">Seja Voluntário</a>
			</div>
		</nav>
	</div>
</header>

<section class="contatoSection">
	<div class="contatoContainer">

		<div class="infoContato">
			<h1>Contato</h1>

			<p>Av. Engenheiro Souza Filho, 1.207 - Casa 7c</p>
			<p>Itanhangá, Rio de Janeiro - RJ</p>

			<p class="telefone">
				+55 21 98284-3506
			</p>

			<p class="emailTitulo">
	            E-mail para contato:
            </p>

            <a href="mailto:gavimegrupodeapoiovivermelhor@gmail.com" class="emailContato">
				gavimegrupodeapoiovivermelhor@gmail.com
			</a>

            <p class="emailTitulo">
	            E-mail institucional oficial:
            </p>

            <a href="mailto:info@gavime.org" class="emailContato">
	            info@gavime.org
            </a>
		</div>

		<div class="formularioContato">
			{% if mensagem_sucesso %}

				<div class="mensagemSucesso">
					Mensagem enviada com sucesso!
				</div>

			{% endif %}

			<form method="POST">
				{% csrf_token %}

				<div class="linhaForm">

					<div class="campo">
						<label>Nome</label>
						<input type="text" name="nome" required>
					</div>

					<div class="campo">
						<label>Sobrenome</label>
						<input type="text" name="sobrenome" required>
					</div>

				</div>

				<div class="campo">
					<label>Email</label>
					<input type="email" name="email" required>
				</div>

				<div class="campo">
					<label>Assunto</label>
					<input type="text" name="assunto" required>
				</div>

				<div class="campo">
					<label>Mensagem</label>
					<textarea name="mensagem" required></textarea>
				</div>

				<button class="botaoEnviar" type="submit">
					Enviar
				</button>
			</form>
		</div>
	</div>
</section>

<footer>
	<div class="footerContainer">
		<div class="footerLogo">
			<a href="#topo">
				<img src="{% static 'img/logoGavime.png' %}" class="logoFooter" alt="Logo GAVIME">
			</a>
		</div>

		<p class="direitos">
			©2026 - GAVIME. Todos os direitos reservados.
			<br>
            CNPJ: 44.578.747/0001-05
            <br>
			<a href = "/funcionarios/" class="linkFuncionarios">
				Área dos funcionários
			</a>
		</p>

		<div class="redes">
			<a href="https://www.facebook.com/p/Gavime-grupo-de-apoio-viver-melhor-100075482454614/" target="_blank">
				<i class="fa-brands fa-facebook-f"></i>
			</a>

			<a href="https://www.instagram.com/gavime.ong/reels/" target="_blank">
				<i class="fa-brands fa-instagram"></i>
			</a>

			<a href="https://www.threads.com/@gavime.ong" target="_blank">
				<i class="fa-brands fa-threads"></i>
			</a>
		</div>
	</div>
</footer>

</body>
</html>
