{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>GAVIME - Transparência</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/icon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

	<body id="topo">

		<header>
			<div class="cabecalho">
				<a href="/">
					<img src="{% static 'img/logoGavime.png' %}" class="logo">
				</a>

				<nav>
					<div class = 'linksMenu'>
						<a href = "/">Apresentações</a>
						<a href = "/transparencia/">Transparência</a>
						<a href = "/contato/">Contato</a>
					</div>
					<div class = 'acoesMenu'>
						<a href = "/doacoes/" class = "botaoMenu">Doações</a>
						<a href = "/inscricao/" class = "botaoMenu">Seja Voluntário</a>
					</div>
				</nav>
			</div>
		</header>

		<section class="containerTransparencia">
			<div class="colunaTexto">
				<div class="caixas">
					<p>
						Total arrecadado:<br>
						R$ {{ arrecadado_dinheiro }}
					</p>
				</div>

				<div class="caixas">
					<p>
						Itens arrecadados:<br><br>
						{% for item in itens_arrecadados %}

							{{ item.quantidade }} - {{ item.descricao }}<br>

						{% empty %}

							Nenhum item arrecadado.

						{% endfor %}
					</p>
				</div>

				<div class="caixas">

					<p>
						Gastos:<br><br>

						{% for despesa in despesas %}

							R$ {{ despesa.valor }} - {{ despesa.descricao }}<br>

						{% empty %}

							Nenhum gasto registrado.

						{% endfor %}
					</p>
				</div>

			</div>

			<div class="colunaImagem">
				<img src="{% static 'img/coluna-imagem.jpg' %}" alt="">
			</div>
		</section>

		<footer>
			<div class="footerContainer">
				<img src="{% static 'img/logoGavime.png' %}" class="logoFooter">

				<p class="direitos">
					©2026 - GAVIME. Todos os direitos reservados.
					<br>
					<a href = "/funcionarios/" class="linkFuncionarios">
						Área dos funcionários
					</a>
				</p>

				<div class="redes">
					<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-threads"></i></a>
				</div>
			</div>
		</footer>
	</body>
</html>