{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>GAVIME - Editar Newsletter</title>
		<meta charset = 'UTF-8'>
		<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
		<link rel = "icon" href = "{% static 'img/icon.ico' %}">
		<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
	</head>

	<body id = 'topo'>
		<header>
			<div class = 'cabecalho'>
				<a href = "/funcionarios/">
					<img src = "{% static 'img/logoGavime.png' %}" class = 'logo' alt = 'Logo GAVIME'>
				</a>

				<nav>
					<a href = "/funcionarios/">Painel</a>
					<a href = "/funcionarios/atividades/">Ações</a>
					<a href = "/funcionarios/inscritos/">Inscritos</a>
					<a href = "/funcionarios/voluntarios/">Voluntários</a>
					<a href = "/funcionarios/despesas/">Transparência</a>
					<a href = "/funcionarios/newsletter/">Newsletter</a>
					<a href = "/">Site principal</a>
				</nav>
			</div>
		</header>

		<section class = 'conteudo'>
			<div class = 'topoPainel'>
				<h1>Editar newsletter</h1>
			</div>

			<h1>Alterar dados do cadastro</h1>

			<form class = 'formularioPagina' method = 'POST'>
				{% csrf_token %}

				<div class = 'campo'>
					<label>Nome completo</label>
					<input type = 'text' name = 'nome' value = "{{ inscrito.nome }}" required>
				</div>

				<div class = 'campo'>
					<label>E-mail</label>
					<input type = 'email' name = 'email' value = "{{ inscrito.email }}" required>
				</div>

				<div class = 'campo'>
					<label>Telefone / WhatsApp</label>
					<input type = 'text' name = 'telefone' id = 'telefone' maxlength = '15' placeholder = '(00) 00000-0000' value = "{{ inscrito.telefone }}">
				</div>

				<div class = 'campo'>
					<label>Cidade</label>
					<input type = 'text' name = 'cidade' value = "{{ inscrito.cidade }}">
				</div>

				<button class = 'botaoEnviar' type = 'submit'>
					Salvar alterações
				</button>
			</form>
		</section>

		<footer>
			<div class="footerContainerFuncionarios">
				<div class="footerLogo">
					<a href="#topo">
						<img src="{% static 'img/logoGavime.png' %}" class="logoFooter" alt="Logo GAVIME">
					</a>
				</div>

				<p class="direitos">
					©2026 - GAVIME. Todos os direitos reservados.
				</p>
			</div>
		</footer>

		<script src = "{% static 'js/telefone.js' %}"></script>
	</body>
</html>