{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>GAVIME - Newsletter</title>
		<meta charset = 'UTF-8'>
		<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
		<link rel = "icon" href = "{% static 'img/icon.ico' %}">
		<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	</head>

	<body id = 'topo'>
		<header>
			<div class = 'cabecalho'>
				<a href = "/funcionarios/">
					<img src = "{% static 'img/logoGavime.png' %}" class = 'logo' alt = 'Logo GAVIME'>
				</a>

				<nav>
					<a href = "/funcionarios/">Painel</a>
					<a href = "/funcionarios/atividades/">Ações</a>
					<a href = "/funcionarios/inscritos/">Inscritos</a>
					<a href = "/funcionarios/voluntarios/">Voluntários</a>
					<a href = "/funcionarios/despesas/">Transparência</a>
					<a href = "/funcionarios/newsletter/">Newsletter</a>
					<a href = "/">Site principal</a>
				</nav>
			</div>
		</header>

		<section class = 'conteudo'>
			<div class = 'topoPainel'>
				<h1>Gerenciar newsletter</h1>
			</div>

			<div class = 'areaTabelaFuncionarios'>
				<form class = 'formularioFiltrosTabela' method = 'GET'>
					<input type = 'text' name = 'filtro_nome' placeholder = 'Nome' value = '{{ filtro_nome }}'>
					<input type = 'text' name = 'filtro_email' placeholder = 'E-mail' value = '{{ filtro_email }}'>
					<input type = 'text' name = 'filtro_telefone' placeholder = 'Telefone' value = '{{ filtro_telefone }}'>
					<input type = 'text' name = 'filtro_cidade' placeholder = 'Cidade' value = '{{ filtro_cidade }}'>

					<button type = 'submit'>
						Filtrar
					</button>

					<a href = '/funcionarios/newsletter/'>
						Limpar
					</a>
				</form>

				<input type = 'hidden' id = 'newsletterSelecionado'>

				<div class = 'tabelaContainer'>
					<table class = 'tabelaFuncionarios'>

						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Telefone</th>
							<th>Cidade</th>
							<th>Data de cadastro</th>
						</tr>

						{% for inscrito in inscritos_newsletter %}

							<tr class = 'linhaNewsletter' onclick = 'selecionarNewsletter(this, "{{ inscrito.id }}")'>
								<td>{{ inscrito.id }}</td>
								<td>{{ inscrito.nome }}</td>
								<td>{{ inscrito.email }}</td>
								<td>{{ inscrito.telefone }}</td>
								<td>{{ inscrito.cidade }}</td>
								<td>{{ inscrito.data_cadastro|date:"d/m/Y H:i" }}</td>
							</tr>

						{% empty %}
							<tr>
								<td colspan = '6'>
									Nenhum cadastro na newsletter.
								</td>
							</tr>

						{% endfor %}
					</table>
				</div>

				<div class = 'botoesAcaoTabela'>
					<button class = 'botaoEditarSelecionado' type = 'button' onclick = 'editarNewsletterSelecionado()'>
						Editar selecionado
					</button>

					<button class = 'botaoExcluirSelecionado' type = 'button' onclick = 'excluirNewsletterSelecionado()'>
						Excluir selecionado
					</button>
				</div>
			</div>
		</section>

		<footer>
			<div class = "footerContainerFuncionarios">
				<div class = "footerLogo">
					<a href = "#topo">
						<img src = "{% static 'img/logoGavime.png' %}" class = "logoFooter" alt = "Logo GAVIME">
					</a>
				</div>

				<p class = "direitos">
					©2026 - GAVIME. Todos os direitos reservados.
				</p>
			</div>
		</footer>

		<script src = "{% static 'js/newsletter.js' %}"></script>
	</body>
</html>